.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table thead {
    background: var(--accent-color);
    color: var(--background);
}

table th {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -2%;
    height: 20px;
    padding-right: 10px;
}

table th:first-child {
    border-top-left-radius: var(--border-radius);
    padding-left: 40px;
}

table th:last-child {
    border-top-right-radius: var(--border-radius);
}

table td {
    white-space: nowrap;
    padding-right: 10px;
}

table td:first-child {
    padding-left: 40px;
}

table tr {
    height: 50px;
}

table tr:nth-child(even) {
    background: #F5F5F5;
}

table tbody {
    color: var(--secondary-foreground);
}